<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Page</title>
    <!-- css link -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- web3.js를 script에 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/bignumber.min.js"></script>
    <script type="text/javascript" src="/js/web3.js"></script>
</head>

<body>
    <div class="page-container"> <!-- 이 줄을 추가 -->
        <header>
            <a href="/" class="logo"><img src="images/logo.png" alt="Logo"></a>
            <div class="nav-iocon">
                <a href="#"><i class='bx bx-search'></i></a>
                <a href="/login"><i class='bx bx-user'></i></a>
                <a href="#"><i class='bx bx-cart'></i></a>
                <div class="bx bx-menu" id="menu-icon"></div>
            </div>
        </header>

        <section class="shop-banner">
            <div class="banner-text">
                <h1>Shop Our Latest Collection</h1>
                <p>Find the best deals and latest trends.</p>
            </div>
        </section>

        <!-- 프로필 영역 -->
        <div class="content-wrap"> <!-- 이 줄을 추가 -->
            <div>
                <!-- 유저 프로필 -->
                <section class="profile-products">
                    <div class="profile-section" style="text-align: center;">
                        <h2>프로필</h2>
                        {% if user_id %}
                        <br>
                        <p>환영합니다, {{ user_name }}!</p> <!--로그인 시 띄우는 정보-->
                        <br>
                        <p class="addProduct"><a href="/addProduct">[ 상품 추가 ]</a></p>
                        <br>
                        <p>[ 이더 주소 ]<br><span class="eth-address">{{ user_eth_addr }}</span></p>
                        <br>
                        <p>[ 남은 이더 ]</p>
                        <p id="eth-balance"></p>
                        <br>
                        <ul class="nav justify-content-end">
                            <!-- 유저 아이디 -->
                            <li class="nav-item">
                                <a class="nav-link" href="/myinfo?id={{ user_id }}">ID : {{ user_id }}</a>
                            </li>
                            <!-- 로그아웃 -->
                            <br><br><br><br><br><br>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">LogOut</a>
                            </li>
                        </ul>
                        <br>

                        {% else %}
                        <br><br><br><br><br><br>
                        <ul class="nav justify-content-end"> <!--로그인 아닐 시 띄우는 정보-->
                            <li class="nav-item">
                                <a class="btnUser" href="/login">로그인</a>
                            </li>
                            <br><br><br><br>
                            <li class="nav-item">
                                <a class="btnUser" href="/register">회원가입</a>
                            </li>
                        </ul>

                        {% endif %}
                    </div>

                    <!-- Added Products Section -->
                    <div class="added-products korean-font">
                        <h2>추가된 상품</h2>
                        <div class="product-grid">
                            <!-- 상품 -->
                            {% for data in datas %}
                            <div class="product-card">
                                <img class="item_img" src="images/{{data.contents}}">
                                <div class="product-info korean-font">
                                    <h4>{{ data.name }}</h4>
                                    <p>{{ data.price }}</p>
                                    <a href="/itemdetail?id={{ data.id }}" class="btn">View Details</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div> <!-- 이 줄을 추가 -->

    <script>
        function MyETH() {
            const web3 = new Web3(new Web3.providers.HttpProvider("http://yeonkyun.kro.kr:7545"));

            const balance = web3.fromWei(web3.eth.getBalance(`{{user_eth_addr}}`)).toNumber().toFixed(2);
            $('#eth-balance').text(`${balance}`);
            console.log(web3, balance, `{{user_eth_addr}}`);
        }

        $(document).ready(function () {
            if (`{{user_eth_addr}}`) MyETH();
        });
    </script>
</body>

</html>